{{#if hasBlock}}
  {{yield stars}}
{{else}}
  {{#each this.stars as |star|}}
    <button
      type="button"
      class="rating-star"
      data-test-rr={{concat 'star-rating-' star.rating}}
      {{on 'click' (fn this.setRating star.rating)}}
    >
      {{#if star.isFull}}
        <FaIcon @icon="star" class="full-star" />
      {{else}}
        <FaIcon @icon="star" @prefix="far" class="empty-star" />
      {{/if}}
    </button>
  {{/each}}
  {{!-- {{log stars}} --}}
{{/if}}