<ul class="rr-list">
  {{#each this.model.songs as |song|}}
    <li class="rr-list-item" data-test-rr="song-list-item">
      {{song.title}}
      <StarRating
        class="fr"
        @rating={{song.rating}}
        @onClick={{fn this.updateRating song}}
      />
    </li>
  {{else}}
    <li class="tc">
      No
      {{model.name}}
      songs yet.
    </li>
  {{/each}}
</ul>
<div class="rr-new-label">
  {{#if isAddingSong}}
    <form
      class="rr-inline-form"
      data-test-rr="new-song-form"
      {{on "submit" this.saveSong}}
    >
      <Input
        @type="text"
        class="rr-input"
        @value={{this.newSongTitle}}
        placeholder="New song"
        data-test-rr="new-song-input"
      />
      <button
        type="submit"
        class="rr-action-button"
        disabled={{isAddButtonDisabled}}
        data-test-rr="new-song-button"
      >
        Add
      </button>
      <button class="rr-cancel-icon" {{on "click" this.cancelAddSong}}>
        {{fa-icon "times"}}
      </button>
    </form>
  {{else}}
    <label data-test-rr="new-song-label" {{on "click" this.addSong}}>
      {{fa-icon "plus"}}
      <span class="ml1">
        Add new song
      </span>
    </label>
  {{/if}}
</div>