<div class="rr-sidebar">
  <ul class="rr-list">
    {{#each this.model as |band|}}
      <li class="rr-list-item">
        <LinkTo @route="bands.band" @model={{band.id}} class="rr-band-link">
          {{band.name}}
          <span class="rr-pointer">
            <FaIcon @icon="angle-right" />
          </span>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
  <div class="rr-new-label">
    {{#if isAddingBand}}
      <form class="rr-inline-form" onsubmit={{action "saveBand"}}>
        {{input
          type="text"
          class="rr-input"
          value=newBandName
          placeholder="New band"
        }}
        <button
          type="submit"
          class="rr-action-button"
          disabled={{isAddButtonDisabled}}
        >
          Add
        </button>
        <button class="rr-cancel-icon" onclick={{action "cancelAddBand"}}>
          <FaIcon @icon="times" />
        </button>
      </form>
    {{else}}
      <label onclick={{action "addBand"}}>
        <FaIcon @icon="plus" />
        <span class="ml1">
          Add new band
        </span>
      </label>
    {{/if}}
  </div>
</div>
<div class="rr-main-panel">
  {{outlet}}
</div>